@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "NEXONLv1Gothic";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.parallax {
  background: rgb(83 108 255);
  color: #fff;
  font-family: "NEXONLv1Gothic";
  font-weight: 400;
}
header {
  display: flex;
  justify-content: center;
  /* position: relative; */
  left: 0;
  top: 0;
  width: 1005;
  height: 80px;
  font-family: "Montserrat", sans-serif;
}
.title {
  padding-right: 565px;
  padding-top: 25px;
}
.title h4 {
  left: 20%;
  bottom: 1rem;
  font-size: 1.6rem;
}

.nav {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  bottom: 1rem;
  padding-top: 25px;
  font-size: 1rem;
}

.nav ul {
  display: flex;
  justify-content: space-around;
}

.nav ul li {
  list-style: none;
  display: flex;
  padding: 10px;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#paraHeader h1 {
  display: inline-block;
  font-size: 20px;
  border-bottom: 1px dashed #fff;
  margin-bottom: 8px;
}
#paraHeader h1 a {
  color: #fff;
  text-decoration: none;
}
#paraCont {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
#paraFooter {
  padding: 10vw 0;
}
#paraFooter h2 {
  font-size: 8vw;
  line-height: 1.2;
  padding: 10vw 8vw 0 8vw;
  text-transform: uppercase;
  margin-bottom: 3vw;
}
#paraFooter h2 em {
  display: block;
  font-family: "Lato";
  font-weight: 100;
  padding-left: 18vw;
}
#paraFooter .footerInfo {
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 15px 20px;
  margin-bottom: 2px;
}
#paraFooter .footerInfo h3 {
  padding: 0 10px;
}
#paraFooter .footerInfo li {
  display: inline;
  list-style: none;
}
#paraFooter .footerInfo li a {
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 32px;
  display: inline-block;
}
#paraFooter .footerInfo li.active a,
#paraFooter .footerInfo li a:hover {
  background: #fff;
  color: #000;
}

.content-item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw 0;
  /* background: rgba(255,255,255,0.3); */
  text-align: right;
  position: relative;
  padding-top: 10vw;
}
.content-item:nth-child(even) {
  margin-left: auto;
  text-align: left;
}
.content-item-num {
  font-family: "Lato";
  font-size: 25vw;
  opacity: 0.17;
  position: absolute;
  right: -5vw;
  top: -10vw;
}
.content-item:nth-child(even) .content-item-num {
  right: auto;
  left: -5vw;
}
.content-item-title {
  padding-bottom: 1vw;
  font-size: 2vw;
}
.content-item-imgWrap {
  width: 100%;
  padding-bottom: 56%;
  position: relative;
  overflow: hidden;
}
.content-item-img {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: saturate(0%);
}
.content-item-desc {
  font-size: 2vw;
  line-height: 1.4;
  word-break: keep-all;
  margin-top: -6vw;
  margin-right: -3vw;
  position: relative;
  z-index: 100;
}
.content-item:nth-child(even) .content-item-desc {
  margin-right: 0;
  margin-left: -3vw;
}
.content-item:nth-child(1) .content-item-img {
  background-image: url(../images/book.jpg);
}
.content-item:nth-child(2) .content-item-img {
  background-image: url(../images/second-life.png);
}
.content-item:nth-child(3) .content-item-img {
  background-image: url(../images/crash.jpg);
}
.content-item:nth-child(4) .content-item-img {
  background-image: url(../images/metaverse.png);
}
.content-item:nth-child(5) .content-item-img {
  background-image: url(../images/fortnite.jpg);
}
.content-item:nth-child(6) .content-item-img {
  background-image: url(../images/virtual_reality.jpg);
}
.content-item:nth-child(7) .content-item-img {
  background-image: url(../images/reality.png);
}
.content-item:nth-child(8) .content-item-img {
  background-image: url();
}
.content-item:nth-child(9) .content-item-img {
  background-image: url();
}

/* nav */
.paraNav {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 50px;
  transition: top 0.4s ease;
}
.paraNav li {
  display: inline-block;
  list-style: none;
}
.paraNav li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
}
.paraNav li.active a {
  background: #fff;
  color: #000;
}

/* info */
.paraScroll {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  padding: 0px 20px;
}

/* reveal */
.reveal > div,
.reveal > span {
  opacity: 0;
}
.reveal.show > div,
.reveal.show > span {
  animation: opacity 1000ms linear forwards;
}
.reveal {
  position: relative;
}
.reveal::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}
.reveal.reveal-two::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 100;
  background-color: orange;
}
.reveal.show::before {
  animation: reveal 1000ms cubic-bezier(0.77, 0, 0.18, 1);
}
.reveal.reveal-RTL.show::before {
  animation: reveal-RTL 1000ms cubic-bezier(0.77, 0, 0.18, 1);
}
.reveal.reveal-TTB.show::before {
  animation: reveal-TTB 1000ms cubic-bezier(0.77, 0, 0.18, 1);
}
.reveal.reveal-BTT.show::before {
  animation: reveal-BTT 1000ms cubic-bezier(0.77, 0, 0.18, 1);
}
.reveal.show::after {
  animation: reveal 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
}
.reveal.reveal-RTL.show::after {
  animation: reveal-RTL 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
}
.reveal.reveal-TTB.show::after {
  animation: reveal-TTB 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
}
.reveal.reveal-BTT.show::after {
  animation: reveal-BTT 1000ms 300ms cubic-bezier(0.77, 0, 0.18, 1);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  80% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes reveal-RTL {
  0% {
    width: 0;
    right: 0;
  }
  50% {
    width: 100%;
    right: 0;
  }
  80% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes reveal-TTB {
  0% {
    width: 100%;
    height: 0;
    top: 0;
  }
  50% {
    width: 100%;
    height: 100%;
    top: 0;
  }
  80% {
    width: 100%;
    height: 100%;
    top: 0;
  }
  100% {
    width: 100%;
    height: 0;
    top: 100%;
  }
}
@keyframes reveal-BTT {
  0% {
    width: 100%;
    height: 0;
    top: auto;
    bottom: 0;
  }
  50% {
    width: 100%;
    height: 100%;
    top: auto;
    bottom: 0;
  }
  80% {
    width: 100%;
    height: 100%;
    top: auto;
    bottom: 0;
  }
  100% {
    width: 100%;
    height: 0;
    top: auto;
    bottom: 100%;
  }
}

.footer {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.footer-title {
  padding-right: 565px;
  padding-top: 25px;
}

.footer-title h4 {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}
.footer-nav {
  display: flex;
  justify-content: flex-end;
  bottom: 1rem;
  padding-top: 25px;
  font-size: 1rem;
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
}

.footer-nav ul li {
  list-style: none;
  display: flex;
  padding: 10px;
  color: white;
}

.footer-nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
